<div class="col-sm-3">
    <div class="list-group">
        <a href="/dashboard" class="list-group-item list-group-item-action<%= page_name.startsWith('dashboard') ? ' active' : '' %>">Dashboard</a>
        <a href="/profile" class="list-group-item list-group-item-action<%= page_name.startsWith('profile') ? ' active' : '' %>">Profile</a>
        <a href="/logout" class="list-group-item list-group-item-action">Logout</a>
        <a href="#" class="list-group-item list-group-item-action disabled" aria-disabled="true"><%= user.name %></a>
    </div>
    
    <div class="list-group mt-3">
        <li class="list-group-item list-group-item-secondary">Notes</li>
        <% if (typeof notesFive != 'undefined') { %>
         <% notesFive.forEach(item => { %>
          <a href='/dashboard/noteEdit/<%= item._id %>' class='list-group-item list-group-item-action'><i class="bi bi-stickies-fill" style='color: <%= item.color %>;'></i> <%= item.title %></a>
         <% }) %>
        <% } %>
    </div>

</div>